
#- files/folders ignored by npm
#- https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package
#- auto-ignores the "node_modules", ".git" folders

#- ignore the plugin's example folder
#- explore it on the plugin's github repository
examples
